.sequent-editor {
    border: 1px solid blue;
    border-radius: 4px;
}

.sequent-code-input {
    font-family: monospace;
}

.CodeMirror-scroll {
    /* Make a dynamically expanding CM */
    height: auto;
    overflow: visible;
}

